@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Base gradient */
.gradient-middle {
  background: linear-gradient(
    90deg,
    rgb(19, 14, 16) 25%,
    rgb(52, 24, 27) 50%,
    rgb(19, 14, 16) 75%
  );
}

/* Gradient for small screens */
@media (max-width: 639px) {
  .gradient-middle {
    background: linear-gradient(
      90deg,
      rgb(19, 14, 16) 10%,
      rgb(52, 24, 27) 50%,
      rgb(19, 14, 16) 90%
    );
  }
}
